body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    background-image: url("https://c1.wallpaperflare.com/preview/453/1008/862/sling-hangman-hanging-knot.jpg");
    background-image: no-repeat;
    background-image: cover;

}



header {
    font-size: 40px;
    font-weight: 20px;
    display: flex;
    justify-content: center;
    color: red;
} 

.Hangman {
    display: flex;
    border: solid;
    height: 300px;
    width: 700px;
    background-image: url("./firstpic.png");
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}


.word {
    display: flex;
    height: 40px;
    width: 500px;
    border: solid;
    justify-content: center;
    
}
.underkb {
    height: 50px;
    margin-top: 50px;
    border: solid;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;

}
.keyboard {
    margin-top: 50px;
}

.Sng {
   
   background-color: white;
   font-weight: bold;
   
   
}




.letter {
    background-color: white;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas ot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.dashes {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  background-color: white;
}
.correct {
    background-color: green;

}

.wrong {
    background-color: red;
}

.input-form  {
    color: white
}

/* .pikachungus {
    height: 50px;
    width: 50px;
    background-image: url(https://media.tenor.com/LmoTSIbR8wEAAAAC/buff-pikachu.gif);
    background-image: 

} */



